rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }
    function isAdmin() {
      return isAuthenticated() && request.auth.token.admin == true;
    }

    match /games/{gameId}/events/{eventId} {
      allow read: if isAuthenticated();
      allow write: if isAdmin(); // 管理者のみ追加・編集・削除可能
    }

    match /settings/{document=**} {
      allow read: if isAuthenticated();
      allow write: if false; // 読み込みのみ許可
    }

    match /debug_logs/{logId} {
      allow create: if isAuthenticated();
      allow read: if isAdmin(); // スキャンログ作成・閲覧は管理者のみ
      allow update, delete: if false;
    }

    match /sync_requests/{reqId} {
      allow create, read: if isAdmin(); // AIスキャンのリクエストは管理者のみ
      allow update, delete: if false;
    }

    match /feedbacks/{feedbackId} {
      allow create: if isAuthenticated(); // 一般ユーザーはフィードバック送信のみ可能
      allow read, update, delete: if isAdmin(); // 閲覧や削除は管理者のみ
    }
  }
}
