rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }

    match /games/{gameId}/events/{eventId} {
      allow read, write: if isAuthenticated();
    }

    match /settings/{document=**} {
      allow read: if isAuthenticated();
      allow write: if false;
    }

    match /debug_logs/{logId} {
      allow create, read: if isAuthenticated();
      allow update, delete: if false;
    }

    match /sync_requests/{reqId} {
      allow create, read: if isAuthenticated();
      allow update, delete: if false;
    }
  }
}
